/* css du body, background et police du site */
body {
    font-family: Arial, Helvetica, sans-serif;
      background: #005b7d;
    }

    /* css des div d'inscription et de connexion */
    .box {
      border-radius: 20px;
      font-family: Arial, Helvetica, sans-serif;
      border: 4px solid #e3051b;
      padding: 30px 25px 10px 25px;
      background: #06a3dc;
      margin: 60px auto;
      width: 399px;
    }

    h1.box-logo a {
      text-decoration:none;
    }
  
    
    h1.box-title {
      border-radius: 0px;
      color: #000000;
      background: #06a3dc;
      font-weight: 300;
      padding: 16px 0px;
      line-height: 30px;
      font-size: 25px;
      text-align:center;
      margin: -27px -13px 26px;
    }
    .box-button {
      border-radius:5px;
      background: #005b7d;
      text-align: center;
      cursor: pointer;
      font-size: 19px;
      width: 100%;
      height: 51px;
      padding: 0;
      color: #fff;
      border: 4px solid #e3051b;
      outline:0;
    }
    .box-register
    {
      background: #06a3dc;
      border-radius: 20px;
      box-shadow: 0px 0px 0px rgba(242,242,242,255);
      font-family: Arial, Helvetica, sans-serif;
      text-align:center;
      margin-bottom:0px;
      border-radius: 10px;
    }
    .box-register a
    {
      text-decoration:none;
      font-size:15px;
      color:rgb(0, 0, 0);
      text-decoration : underline;
    }
    .box-input {
      border-radius: 20px;
      font-size: 14px;
      background: #fff;
      border: 4px solid #e3051b;
      margin-bottom: 25px;
      padding-left:10px;
      border-radius: 5px;
      width: 347px;
      height: 50px;
    }
    .box-input:focus {
        outline: none;
        border-color:#5c7186;
    }
    .sucess{
      text-align: center;
      color: #d2483c;
      text-shadow: 0px 0px 2px rgba(242,242,242,255); 
      
    }
    .sucess a {
      text-decoration: none;
      color: #58aef7;
    }
    p.errorMessage {
        background-color: #e66262;
        border: #AA4502 1px solid;
        padding: 5px 10px;
        color: #FFFFFF;
        border-radius: 3px;
    }
  
    #time
    {
      width: 200px;
            height: 60px;
            line-height: 50px;
            border: 1mm ridge rgb(255, 255, 255);
            text-align: center;
            margin-bottom: 20px;
            font-size: 22px;
            position: relative;
            left: 120px;
    }
  
          #presenter
          {
              font-size: 17px;
              visibility: hidden;
          }
          
          input[type="button"] {
              border: none;
              padding: 10px;
              background-color: rgba(255, 255, 255, 0.432);
              cursor: pointer;
          }
  
    .webilologin {
      text-align: center;
    }
  
    .dropdown {
      padding-top: 5px;
    }
  
    .table {
      border-radius: 10px;
      background-color: #ffffff;
      border-color: #000000;
      width: 500px;
      margin: 10px auto;
      box-shadow: 0px 0px 4px rgba(242,242,242,255); 
      padding: 20px;
      padding-top: 20px;
      padding-bottom: 80px;
      }
  
        
      .card {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #d2483c;
        border-radius: 10px;
        background-color: #ffffff;
        border-color: #000000;
        width: 500px;
        margin: 10px auto;
        box-shadow: 0px 0px 4px rgba(242,242,242,255); 
        padding: 20px;
        padding-top: 20px;
        padding-bottom: 80px;
        }
        .card-header {
          font-size: 35px;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
  
        .titre {
          font-size: 25px;
          color: #d2483c;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
  
        .titre2 {
          font-size: 15px;
          color: #d2483c;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          margin-top: 25px;
          font-style: italic;
        }
  
  
        .btn-primary {
          margin-left: 10px;
          background-color: #e3051b;
          border: 4px solid #e3051b;
        }


  /* permet d'enlever les point des elements de la liste (à puce) */
  ul {
    margin: 0;
    padding: 0;
  }
  
  /* css des elements de la todolist  */
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 50%;
    background: #06a3dc;
    font-size: 25px;
    transition: 0.1s;
    margin-top: 1%;
    border: 4px solid #8caaba;
  
  }

  
  /* change la couleur quand le curseur est placé sur un element de la todolist */
  ul li:hover {
    background: #e3051b;
  }


  /* css du bouton fermer */
  .close {
    position: absolute;
    left: 0;
    top: 0;
    padding: 12px 100% 12px 16px;
  }


  /* css du bouton fermer quand on passe le curseur dessus */
  .close:hover {
    background-color: #e3051b;
    color: #ffffff;
  }

  .header {
    background-color: #e3051b;
    padding: 45px 600px;
    color: white;
    text-align: center;
  }

  /* Clear floats after the header */
  .header:after {
    content: "";
    display: table;
    clear: both;
  }

  /* css du contour des input (ici l'endroit de saisie) */
  input {
    margin: 0;
    border: none;
    border-radius: 10px;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
    border: 4px solid #005b7d;
  }
  
  /* css du bouton Ajouter */
  .addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
    border: 4px solid #005b7d;
  }

  /* css du bouton Ajouter quand on passe le curseur dessus */
  .addBtn:hover {
    background-color: #bbb;
  }